@(elements: helper.FieldElements)

<div id="@{elements.id}Div" class="@if(elements.hasErrors) {error}">
    <label for="@elements.id">@elements.label</label>
    <div class="input">
        @elements.input
        <span class="errors">@elements.errors.mkString(", ")</span>
    </div>
</div>